venvKitUtiles/
settings.json
__pycache__/
*.pyc
.ipynb_checkpoints
*.env
*.config
.DS_Store
Thumbs.db
.vscode/
.idea/
*.log
output
*.out
*.tmp
*.bak
*.swp   
*.swo
*.old
*.orig
*.rej
*.class
*.jar
*.war